

html ,body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#background {
   display: flex;
   background: url("./images/background.png") no-repeat;
   background-size: cover;
   width: 800px;
   height: 600px;
   position: relative;
   overflow: hidden;
}

#bird {
    position: absolute;
    background-image: url("./images/bird.png");
    background-size: cover;

}

.pipes {
    position: absolute;
    background-image: url("./images/pipe2.png");
    background-size: cover;
}

.pipeTop{
    position: absolute;
    background-image: url("./images/pipe2.png");
    background-size: cover;
    transform: rotate(180deg);
}

#welcome {
    display:flex;
    flex-direction: column;
    margin-top: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(161, 228, 185);
    background-size: cover;
}
h2 {
    margin: 5px;
    padding: 0;
}
h4 {
    margin: 5px;
    padding: 0;
}

#btn {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 20px;
    width: 200px;
    height: 100px;
    margin-top: 10px;

}
#btn:hover {
    background-color: rgb(1, 0, 0);
    color: rgb(247, 241, 241);
}